body {
    background: white;
}

header {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    text-align: center;
}

h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}

nav {
    padding: 30px;
    border: 30px;
}


li {
    text-align: center;
    list-style: none;}

li a {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 10px;
}

p {
    align-content: center;
    padding: 95px;
    padding-top: 30px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    padding: 95px;
    padding-top: 30px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    padding: 95px;
    font-weight: bold;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    text-align: center;
    color: black;
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
}

a:hover {
    opacity: 0.5;
  }

  @media (max-width: 400px) {
      * {
          size-adjust: 40%;
      }
}